/Archery.class
/Battery.class
/Building.class
/CoalGenerator.class
/Fence.class
/Furnace.class
/Generator.class
/MainBuilding.class
/Miner.class
/Pole.class
/Rail.class
/SolarPanel.class
/Storage.class
/Turret.class
/Building$Requirement.class
/BiomassGenerator.class
